.Container {
    width: 40%;
    padding: 20px 25px;
    border: 4px dashed #ad5c48;
    border-radius: 10px;
    background-color: #e0d0cc;
    align-content: center;
}

.AuthInput {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid blue;
    border-radius: 4px;
    /* float: left, */
    
}